<div id="carouselExampleAutoplaying" class="carousel slide pdwidth" data-bs-ride="carousel" *ngIf="product">
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="{'active': i===0}" *ngFor="let image of product?.images; let i = index">
        <img [src]="image" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Show all the product details here from the product array -->
<div>
    <span> Product Name : {{product?.title}}</span>
</div>
<div>
    <span> Category : {{product?.category}}</span>
</div>
<div>
    <span> Brand : {{product?.brand}}</span>
</div>
<div>
    <span>Description : {{product?.description}}</span>
</div>
<div>
    <span>Price : {{product?.price}}</span>
</div>
<div>
    <span>Discount Percentage : {{product?.discountPercentage}}</span>
</div>
<div>
    <span>Rating : {{product?.rating}}</span>
</div>
<div>
    <span>Stock : {{product?.stock}}</span>
</div>
<!-- <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="[{ name: 'Name' }, { name: 'Gender' }, { name: 'Company' }]"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [limit]="10"
      >
</ngx-datatable> -->