
 <!-- create a signup form with inputs like name email password and city(dropdown) and add validation for all the fields. submit the form and show the data in the UI. and reset the form. -->
 <div class="container">
    <div class="card signin-card">
        <div class="card-body">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="emailInput" formControlName="username">
                    <div class="form-text" *ngIf="signUpForm.get('username')?.invalid && loginSubmitted">Please enter a valid email</div>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput" formControlName="password">
                    <div class="form-text" *ngIf="signUpForm.get('password')?.invalid && loginSubmitted">Please enter a valid password</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">City</label>
                    <select class="form-control" formControlName="city">
                        <option *ngFor="let city of cities" [value]="city">
                            {{city}}
                        </option>
                    </select>
                    <div class="form-text" *ngIf="signUpForm.get('city')?.invalid && loginSubmitted">Please select a valid city</div>
                </div>

                <div class="signin-btn" >
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="loginSubmitted">
    <div><span> Email : {{this.signUpForm.value.username}}</span></div>
    <div><span> Password : {{this.signUpForm.value.password}}</span></div>
    <div><span> city : {{this.signUpForm.value.city}}</span></div>
</div>