<div *ngIf="address.length === 0"><div *ngIf="address.length === 0"><h2>You dont have any address stored</h2></div></div>
<div *ngIf="address.length === 0">
    <div>
        <button class="btn btn-outline-success" type="button" (click)="addAddress()">Add Address</button>
    </div>
</div>
<div *ngIf="address.length > 0">
    <div class="col product-card" *ngFor="let item of address">
    <label><h5>Street : {{item.street}}</h5></label><br>
    <label><h5>City : {{item.city}}</h5></label><br>
    <label><h5>PostalCode : {{item.postalCode}}</h5></label><br>
    <div><button class="btn btn-outline-success" type="button" (click)="deleteAddress(item.street)">Delete Address</button></div>
    </div>
</div>
