<!-- <app-header></app-header>


<div>Filters:
<span *ngFor="let item of filters;" class="filters">
   
  <app-filter [filter]="item" (chooseFilter)="showFilter($event)"></app-filter>
  
</span>
</div>

<div *ngIf="selectedRestaurant">You have selected: {{selectedRestaurant.name}}</div>

<ng-container *ngFor="let item of restaurants">

  <app-restaurant [restaurant]="item" (chooseRestaurant)="showRestaurant($event)"></app-restaurant>

</ng-container>

<div *ngFor="let product of products">
  {{product.title}}
</div>


<app-footer></app-footer> -->


<app-header></app-header>

<router-outlet></router-outlet>